<% if logged_in? %>

<h1 class="title">Latest Gossips</h1>

<% @gossip.each do |gossip, index| %>
<div class="cardbox">
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-header"><a href="/gossips/<%=gossip.id%>" class="linko">Gossip n°<%= gossip.id%></a></div>
  <div class="card-body">
    <h5 class="card-title"><%= gossip.title %></h5>
    <p class="card-text"><%= gossip.content%></p>
    <p class="card-text"><%= gossip.anonymous_gossiper%></p>
  </div>
</div>
</div>
<% end %>

<%end%>
